<ion-content [fullscreen]="true">
  <div class="container">
    <h1 class="ion-text-center">Relevamiento Visual</h1>
    <br>
    <ion-card id="NongModel" class="ion-text-center" color="dark">
      <ion-card-header>
        <ion-card-title>Ingrese sus datos</ion-card-title>      
      </ion-card-header>
      <form [formGroup]="formRegistro">
                
        <ion-input label-placement="floating" mode="md" fill="outline" label="Correo" type="email" placeholder="Ingrese su correo electrónico" formControlName="email" ></ion-input>
        <ion-text *ngIf="formRegistro.controls['email'].errors?.['required'] && formRegistro.controls['email'].touched" color="danger">Debe ingresar un email</ion-text>
        
        <hr>
  
        <ion-input label-placement="floating" mode="md" fill="outline" label="Contraseña" type="password" placeholder="Ingrese la contraseña" formControlName="pass"></ion-input>
  
        <ion-text *ngIf="formRegistro.controls['pass'].errors?.['required'] && formRegistro.controls['pass'].touched" color="danger">Debe ingresar una contraseña</ion-text>
        <ion-text *ngIf="formRegistro.controls['pass'].errors?.['minlength']" color="danger">Debe tener 6 caracteres mínimo</ion-text>     
        
        <ion-button shape="round" [disabled]="formRegistro.invalid" class="ion-text-center" (click)="login()">Ingresar</ion-button>
        
        <hr>
        <div class="ingreso-rapido">

          <ion-card-title>Ingreso Rápido</ion-card-title>
  
          <div class="container-perfiles">

            <button class="boton-imagen" (click)="logueoRapido('admin@admin.com','111111')">
              <img src="/assets/images/person.png" class="mx-auto d-block" alt="img-medico" width="75%" height="75%" >
              <p class="nombre-perfil">Admin</p>
            </button>

            <button class="boton-imagen" (click)="logueoRapido('invitado@invitado.com','222222')">
              <img src="/assets/images/person.png" class="mx-auto d-block" alt="img-medico" width="75%" height="75%" >
              <p class="nombre-perfil">Invitado</p>
            </button>
            
            <button class="boton-imagen" (click)="logueoRapido('usuario@usuario.com','333333')">
              <img src="/assets/images/person.png" class="mx-auto d-block" alt="img-medico" width="75%" height="75%" >
              <p class="nombre-perfil">Usuario</p>
            </button>
            
            <button class="boton-imagen" (click)="logueoRapido('anonimo@anonimo.com','444444')">
              <img src="/assets/images/person.png" class="mx-auto d-block" alt="img-medico" width="75%" height="75%" >
              <p class="nombre-perfil">Anónimo</p>
            </button>
            
            <button class="boton-imagen" (click)="logueoRapido('tester@tester.com','555555')">
              <img src="/assets/images/person.png" class="mx-auto d-block" alt="img-medico" width="75%" height="75%" >
              <p class="nombre-perfil">Tester</p>
            </button>

          </div>

        </div>

      </form>
      
    </ion-card>
  </div>
  
  
</ion-content>
