ion-content,ion-header,ion-toolbar {
  --background: rgba(209, 169, 38, 0.938);
}

ion-badge{
  font-size: x-large;
}


.boton-imagen{    
  margin-bottom: 40px;
  margin-top: 20px;
  height: 14vh;
  background-color: rgb(101, 89, 89);
  border-radius: 15px;
  width: 12vh;    
}

.nombre-perfil{
  width: 100%;    
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;    
  margin: 0;
  border-radius: 10px;
  text-align: center !important;
}

.border-carousel{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}