<div class="container">

  <div class="contenedor-botones">
    <div class="boton-numero" (click)="playSound('rojo')">
      <img src="/assets/colors/red.png" alt="">
    </div>
    <div class="boton-numero" (click)="playSound('azul')">
      <img src="/assets/colors/blue.png" alt="">
    </div>
    <div class="boton-numero" (click)="playSound('negro')">
      <img src="/assets/colors/black.png" alt="">
    </div>
    <div class="boton-numero" (click)="playSound('rosa')">
      <img src="/assets/colors/pink.png" alt="">
    </div>
    <div class="boton-numero grid-final" (click)="playSound('verde')">
      <img src="/assets/colors/green.png" alt="">
    </div>
  </div>
  
</div> 
