<ion-content>
  <div class="container ion-text-center">
    <p class="nombre" style="font-size: 50px; color: rgb(0, 0, 0); font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      Thomas Hamer
    </p>
    <p class="division" style="font-size: 60px; color: rgb(206, 201, 201); font-family:'Courier New', Courier, monospace; margin-top: 100px;">
      División A
    </p>
    <img src="../../assets/icon/appChat.png" style="height: 200px; margin-top: 10%;" />
  </div>
</ion-content>
