ion-content{
    --background: rgb(23, 4, 192);
}

.botonera{
  display: flex;  
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
}

.titulo-principal{
  background-color: #d10a0a;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 15px;
  font-size: x-large;
}

.card-container{
  background-color: #24db61;
}

.subtitle{
  text-transform: capitalize;
  color: black;
  font-size: large;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}