ion-content {
  --background: rgb(42, 42, 30);
}

.boton-logout{
  position: absolute;
  bottom: 60px;
}

.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-container{
  position: absolute;
  top: 100px;
  text-align: center;
  color: whitesmoke;
}