
ion-content{
  --background: rgb(56, 4, 245);
}

.titulo-principal{
  background-color: #ff1109;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  font-size: xx-large;
}


.container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor-botones{
  display: grid;
  width: 90%;
  height: 95%;
  gap: 5px;
  padding: 8px;
}

.boton-numero{
  border: 8px solid rgb(0, 0, 0);
  border-radius: 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #299c80;
}


.rotating-image {
  animation: rotate 4.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flipped {
  transform: rotateY(180deg);
}

.contenedor-carta-animal{
  padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.carta-animal{
  height: 220px !important;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;    
  flex-direction: column;
  background-color: transparent;
  margin: 0 7px 0 7px;  
}

.flip-container-animal {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  
}

.flipper-animal {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.front-animal,
.back-animal {
  width: 100%;
  height: 210px;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
      
  img{
      height: 50%;
  }
  transform-style: preserve-3d;
}

.front-animal {
  background-color:#78be74;
  border-radius: 10px;
}

.back-animal {
  background-color: #e09d3e;
  border-radius: 10px;
  transform: rotateY(180deg);
}

//HERRAMIENTAS

.contenedor-cartas-herramienta{
  padding: 5px;
  height: 100%;
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.carta-herramienta{
  height: 50px !important;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;    
  flex-direction: column;
  background-color: transparent;
  margin: 0 7px 0 7px;
  // margin: 0 15px 0 15px;
  .back{
      img{
          height: 50px;
      }
  }
  
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  // margin-top: 150px;
  
}
.flip-container-herramienta {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  
  // margin-bottom: 15px;
}

.flipper-herramienta {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.front-herramienta,
.back-herramienta {
  width: 100%;
  height: 120px;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
      
  img{
      height: 50%;
  }
  transform-style: preserve-3d;
}

.front-herramienta {
  background-color:#80b97d;
  border-radius: 10px;
}

.back-herramienta {
  background-color: #ff9400;
  border-radius: 10px;
  transform: rotateY(180deg);
}

//FRUTAS

.contenedor-cartas-fruta{
  padding: 5px;
  height: 100%;
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.carta-fruta{
  height: 50px !important;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;    
  flex-direction: column;
  background-color: transparent;
  margin: 0 7px 0 7px;
  // margin: 0 15px 0 15px;
  .back{
      img{
          height: 50px;
      }
  }
  
}
.flip-container-fruta {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  
  // margin-bottom: 15px;
}

.flipper-fruta {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
 
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.front-fruta,
.back-fruta {
  width: 80%;
  height: 80px;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
      
  img{
      height: 50%;
  }
  transform-style: preserve-3d;
}

.front-fruta {
  background-color:#80b97d;
  border-radius: 10px;
}

.back-fruta {
  background-color: #ff9400;
  border-radius: 10px;
  transform: rotateY(180deg);
}