<ion-content style="--background: rgb(70, 2, 2);">
  <div class="container ion-text-center">
    <p class="division" style="font-size: 65px; color: rgb(230, 113, 113); font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
      División A
    </p>
    <p class="nombre" style="font-size: 65px; color: rgb(223, 111, 111); font-family:serif;">
      Thomas Hamer
    </p>
    <img src="../../assets/icon/AppAlarma.png" style="height: 200px; margin-top: 30%;" />
  </div>
</ion-content>
