<ion-tabs>
  <ion-tab-bar slot="bottom" color="dark">    
    
    <ion-tab-button color="dark" routerLink="/home" *ngIf="tabActual !== 'home'">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>
    
    <ion-tab-button color="dark" routerLink="/mis-fotos" *ngIf="tabActual !== 'mis-fotos'">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Mis Fotos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button color="dark" routerLink="/cosas-feas" *ngIf="tabActual !== 'feas'">
      <ion-icon name="sad-outline"></ion-icon>
      <ion-label>Cosas feas</ion-label>
    </ion-tab-button>

    <ion-tab-button color="dark" routerLink="/cosas-lindas" *ngIf="tabActual !== 'lindas'">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>Cosas lindas</ion-label>
    </ion-tab-button>

    <ion-tab-button color="dark" routerLink="/graficos" *ngIf="tabActual !== 'graficos'">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Gráficos</ion-label>
    </ion-tab-button>
         
    <ion-tab-button (click)="this.auth.logout()" color="dark">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Salir</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
