<ion-content style="--background: rgb(15, 73, 180);">
  <div class="container ion-text-center">
    <p class="nombre" style="font-size: 50px; color: rgb(26, 5, 150); font-family:fantasy;">
      Thomas Hamer
    </p>
    <img src="../../../assets/icon/iconoJuego.png" style="height: 200px; margin-top: 50%;" />
    <p class="division" style="font-size: 55px; color: rgb(20, 33, 223); font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
      División A
    </p>
  </div>
</ion-content>
<!-- -->