<div class="container">

  <div class="contenedor-botones">
    <div class="boton-numero" (click)="playSound('cow')">
      <img src="/assets/animals/cow.png" alt="cow">
    </div>
    <div class="boton-numero" (click)="playSound('dog')">
      <img src="/assets/animals/dog.png" alt="dog">
    </div>
    <div class="boton-numero" (click)="playSound('cat')">
      <img src="/assets/animals/cat.png" alt="cat">
    </div>
    <div class="boton-numero" (click)="playSound('horse')">
      <img src="/assets/animals/horse.png" alt="horse">
    </div>
    <div class="boton-numero grid-final" (click)="playSound('turtle')">
      <img src="/assets/animals/turtle.png" alt="turtle">
    </div>
  </div>
  
</div> 