<ion-header>
  <ion-toolbar class="titulo-login">
    <ion-title>Ingreso Juego de memoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image">

    <div style="margin: 6px;padding-top: 6px;">
      <form [formGroup] = "formRegistro">
        <ion-item class="ion-margin-top padding">
          <ion-input type="email" placeholder="Correo" formControlName="email"></ion-input>
        </ion-item>
        
        <ion-text *ngIf="formRegistro.controls['email'].errors?.['required'] && formRegistro.controls['email'].touched" color="warning">Debe ingresar un correo</ion-text>
    
        <ion-item>
          <ion-input type="password" placeholder="Contraseña" formControlName="pass"></ion-input>
        </ion-item>
        
        <ion-text *ngIf="formRegistro.controls['pass'].errors?.['required'] && formRegistro.controls['pass'].touched" color="warning">Debe ingresar una contraseña</ion-text>
        <ion-text *ngIf="formRegistro.controls['pass'].errors?.['minlength']" color="warning">Debe tener 6 caracteres mínimo</ion-text>
  
        <div class="ion-text-center ion-margin-top">
          <ion-button [disabled]="formRegistro.invalid" expand="block" color="medium" (click)="login()">Ingresar</ion-button>
        </div>
      </form>
    </div>

    <div class="ion-text-center ion-margin-top">
      <ion-button class="btn-circular" shape="circle" color="danger" (click)="logueoRapido('invitado@invitado.com','222222')">
        <img class="rotating-image" src="assets/images/person.png" width="75%" height="75%"/>
      </ion-button>

      <ion-button class="btn-circular" shape="circle" color="danger" (click)="logueoRapido('tester@tester.com','555555')">
        <img class="rotating-image" src="assets/images/boy.png" width="75%" height="75%"/>
      </ion-button>
    </div>

    <div class="ion-text-center ion-margin-top">
      <ion-button class="btn-circular" shape="circle" color="danger" (click)="logueoRapido('usuario@usuario.com','333333')">
        <img class="rotating-image" src="assets/images/girl2.png" width="75%" height="75%"/>
      </ion-button>
      <ion-button class="btn-circular" shape="circle" color="danger" (click)="logueoRapido('anonimo@anonimo.com','444444')">
        <img class="rotating-image" src="assets/images/man.png" width="75%" height="75%"/>
      </ion-button>
    </div>

    <div class="ion-text-center ion-margin-top">
      <ion-button class="btn-circular" shape="circle" color="danger" (click)="logueoRapido('admin@admin.com','111111')">
        <img class="rotating-image" src="assets/images/admin.png" width="75%" height="75%"/>
      </ion-button>
    </div>      
    
    

  </div>

</ion-content>
