<div class="container">

  <div class="contenedor-botones">
    <div class="boton-numero" (click)="playSound('siete')">
      <img src="/assets/numbers/7.png" alt="siete">
    </div>
    <div class="boton-numero" (click)="playSound('dos')">
      <img src="/assets/numbers/2.png" alt="dos">
    </div>
    <div class="boton-numero" (click)="playSound('tres')">
      <img src="/assets/numbers/3.png" alt="tres">
    </div>
    <div class="boton-numero" (click)="playSound('seis')">
      <img src="/assets/numbers/6.png" alt="seis">
    </div>
    <div class="boton-numero grid-final" (click)="playSound('cuatro')">
      <img src="/assets/numbers/4.png" alt="cuatro">
    </div>
  </div>
  
</div> 